@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	margin: 0;
	background: #ffefea;
	font-family: 'Lato', sans-serif;
}

h1 {
	text-align: center;
}

.container {
	margin: auto;
	padding: 20px;
}

.btn {
	cursor: pointer;
	padding: 8px;
	border: 0;
	border-radius: 4px;
	background: darksalmon;
	color: #fff;
	font-size: 16px;
}
.btn:active {
	transform: scale(0.98);
}
.btn:focus,
select:focus {
	outline: 0;
}
.btn-toggle {
	display: block;
	margin: 0 auto 20px;
}

.text-box {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -800px);
	width: 70%;
	padding: 20px;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	transition: all 1s ease-in-out;
}

.text-box select {
	height: 30px;
	width: 100%;
	border: 0;
	font-size: 12px;
	background-color: darksalmon;
	color: #fff;
}

.text-box textarea {
	height: 150px;
	width: 100%;
	margin: 15px 0;
	padding: 8px;
	border: 1px solid #dadada;
	border-radius: 4px;
	font-size: 16px;
}
.text-box .btn {
	width: 100%;
}
.text-box .close {
	cursor: pointer;
	float: right;
	text-align: right;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.box {
	cursor: pointer;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: box-shadow 0.2s ease-out;
}
.box.active {
	box-shadow: 0 0 10px 5px darksalmon;
}
.box img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}
.box .info {
	height: 100%;
	margin: 0;
	padding: 10px;
	background-color: darksalmon;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}
@media (max-width: 1100px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 760px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 500px) {
	main {
		grid-template-columns: 1fr;
	}
}
